.DashboardContainer {
  text-align: center;
}

.DashboardContainer-header {
  background: #7F00FF; /* fallback for old browsers */
  background: linear-gradient(to right, #E100FF, #7F00FF);
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.DashboardContainer-title {
  font-size: 1.5em;
}

.DashboardContainer-intro {
  font-size: large;
}

.green {
  /* border: 1px solid green; */
  background-color: green;
  color: white;
}

.red {
  /* border: 1px solid red; */
  background-color: red;
  color: white;
}
