.center {
  text-align: center;
}

.DashboardContainer-header {
  background: #7F00FF; /* fallback for old browsers */
  background: linear-gradient(to right, #E100FF, #7F00FF);
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.DashboardContainer-title {
  font-size: 1.5em;
}

.DashboardContainer-intro {
  font-size: large;
}

.green {
  /* border: 1px solid green; */
  background-color: green;
  color: white;
}

.red {
  /* border: 1px solid red; */
  background-color: red;
  color: white;
}

#index {
  /* border: 2px solid red; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#charts {
  border: 3px solid purple;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding-bottom: 10px;
}

#showTicker-div {
  /* border: 15px solid green; */
  margin-left: 15%;
  margin-right: 15%;
}

div.ui.orange.fluid.card {
  margin-bottom: 25px;
}
